@media screen and (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav ul {
    width: 70%;
  }

  .hasil-review {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
  nav ul {
    width: 70%;
  }

  .hasil-review {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    background: url('../../src/public/images/hero.jpg') no-repeat center;
    background-size: cover;
  }
  
  .list {
    grid-template-columns: 1fr;
  }

  nav .menu {
    display: flex;
  }

  nav ul {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #461111;
    z-index: -2;
    transform: translate(0, -100vh);
  }

  nav ul.slide {
    transform: translate(0, 0);
  }

  .list-menu,
  .detail-resto .deskripsi {
    width: 100%;
  }

  .input-Review form {
    width: 100%;
  }

  .detail-resto {
    flex-direction: column;
  }

  .menu .daftar-menu {
    flex-direction: column;
  }

  .hasil-review {
    grid-template-columns: 1fr;
  }
}
